button {
  margin-top: 1em;
}
input {
  margin-bottom: 1em;
}
label {
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  margin-bottom: 0.2em;
}
#pageSubTitle {
  font-size: 1em;
  font-weight: 500;
  color: #fff;
}

#pageTitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #fff;
  width: 100%;
  line-height: 1.4em;
}

.highlight {
  background-color: #e26a47;
  color: #fff;
  height: 80%;
}

#theForm {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#theForm .formSide {
  flex: 1;
}
#formLeft {
  padding-right: 5%;
}
#formRight {
  padding-left: 5%;
}
.imgContainer {
  height: 100%;
  width: 100%;
}
.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 40%;
  height: auto;
}
#menu {
  list-style: none;
  background-color: #354456;
}
#navMenu {
  height: auto;
  margin-right: 5%;
}
#header {
  background-image: url("../img/header.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}
#servicios {
  background-image: url("../img/servicios.png");
  background-size: cover;
  height: 200vh;
}
#galpones {
  background-image: url("../img/galpones.png");
  background-size: cover;
  height: 200vh;
}

#navMenu li {
  display: inline-block;
}
#navMenu i {
  color: #fff;
  font-size: 30px;
}
#livomLink {
  margin-top: 10px;
  margin-bottom: 10px;
}
h2 {
  color: #fff;
  font-size: 20px;
  text-align: center;
}
