.contentBoxes {
  width: 500px;
  padding: 30px 0px 30px 20px;
  line-height: 1.8;
  font-size: 18px;
}

.contentBoxes ul {
  letter-spacing: 1px;
}

#contentBox1 {
  color: #fff;
  border: 2px solid #ccc;
}

#contentBox2 {
  background-color: #dbe7f0;
}

.cBJuntos {
  background-color: rgba(6, 7, 9, 0.5);
}

.cBJuntos ul {
  color: #fff;
}

.cBJuntos .contentTitles {
  color: #000;
  background-color: #fff;
  padding-left: 5px;
  display: flex;
}

.cBJuntos .contentTitles .cosito {
  background-color: #e26a47;
  width: 50px;
  height: 30px;
  margin-right: 20px;
}

#contentBox3 {
}

#contentBox4 {
}

#contentBox5 {
}

#contentBox6 {
  background-color: #fff;
}

#contentBox7 {
  width: 100%;
}

#contentBox7 .pageTitle {
  width: 100%;
}

.contentTitles {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: 1.2px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contentTitle1 {
  color: #fff;
}

#contentTitle2 {
  background-color: #354456;
  padding-left: 5px;
}
#contentTitle2 .cosito {
  background-color: #fff;
  width: 50px;
  height: 30px;
  margin-right: 20px;
}
button {
  margin-top: 1em;
}
input {
  margin-bottom: 1em;
}
label {
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  margin-bottom: 0.2em;
}
#pageSubTitle {
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
}

.pageTitle {
  font-size: 1.3em;
  font-weight: 900;
  margin-bottom: 0.5em;
  color: #fff;
  line-height: 1.4em;
  letter-spacing: 1.5px;
  margin-right: 15%;
}

.highlight {
  background-color: #e26a47;
  color: #fff;
  height: 80%;
}
.highlight2 {
  color: #fff;
  width: 100%;
}
#theForm {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#theForm .formSide {
  flex: 1;
}
#formLeft {
  padding-right: 5%;
}
#formRight {
  padding-left: 5%;
}
.imgContainer {
  height: 100%;
  width: 100%;
}
.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 40%;
  height: auto;
}
#menu {
  list-style: none;
  background-color: #354456;
}
#navMenu {
  height: auto;
  margin-right: 5%;
}
#header {
  background-image: url("../img/header.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}
#servicios {
  background-image: url("../img/servicios.png");
  background-size: cover;
}
#galpones {
  background-image: url("../img/galpones.png");
  background-size: cover;
  height: 200vh;
}

#navMenu li {
  display: inline-block;
}
#navMenu i {
  color: #fff;
  font-size: 30px;
}
#livomLink {
  margin-top: 10px;
  margin-bottom: 10px;
}
h2 {
  color: #fff;
  font-size: 20px;
  text-align: center;
}
